




body {
  background-image: url(https://cdn.pixabay.com/photo/2017/06/24/14/27/smoke-2437886_1280.jpg); /* Replace 'path/to/your/image.jpg' with the path to your image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  /* You can add more styling here if needed */
}


.header-container {
  text-align: center;
  padding: 20px;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: white;

}

.card-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  color: white;

}

/* I did not like how the pictures were so close together
so i played around one the top and bottom margin to give it 
a better read  */

.card {
  flex: 0 1 calc(33.33% - 20px);
  margin: 10px;
  color: white;

}

.card img {
  width: 100%;
  height: auto;
  color: white;

}

.card-content {
  padding: 10px;
  color: white;

}


@media only screen and (max-width: 768px) {
  .card {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200) {
  .card {
    flex-basis: (50%);
  }
}

@media only screen and (min-width: 1200px) {
  .card {
    flex-basis: (33.33%);
  }
}
